<div id='container'>
  <div ng-controller='ShortenController'>
    <div navigation class='navigation'></div>
    <div class='creator'>
      <form ng-submit='addLink()' ng-init='flag = false; linksArray = []'>
          <input class='text' type='url' name='url' ng-model='link' ng-disable='flag'>
          <input type='submit' value='Shorten'>
      </form>
      <img class='spinner' ng-show='flag' src='../assets/spiffygif_46x46.gif'>
      <div short-link class='links' ng-repeat='link in linksArray track by $index'></div>
    </div>
  </div>
</div>


