<div id='container'>
<!-- Your code here -->
<div ng-controller='ShortenController'>
  <div class='navigation'>
    <ul>
      <li><a href='/#/links' class='index'> All Links </a></li>
      <li><a href='/#/shorten' class='create'> Shorten </a></li>
    </ul>
    <a href='/#/signout' class='index' ng-click='signout()'> Logout </a>
  </div>
  <div class='creator'>
    <form ng-submit='addLink()' ng-init='flag = false; linksArray = []'>
        <input class='text' type='url' name='url' ng-model='link' ng-disable='flag'>
        <input type='submit' value='Shorten'>
    </form>
    <img class='spinner' ng-show='flag' src='../assets/spiffygif_46x46.gif'>
    <div class='links' ng-repeat='link in linksArray track by $index'>
      <div class='link'>
        <img src='../assets/redirect_icon.png'/>
        <div class='info'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>


